html.black-mode {
  --bg-primary: rgba(0, 0, 0, 1) !important;
  --bg-secondary: rgba(10, 10, 10, 1) !important;
  --bg-tertiary: #222222 !important;
  --bg-hover: #121212 !important;
  --bg-hover-secondary: #131313 !important;
  --bg-hover-tertiary: #242424 !important;
  --bg-active: #232323 !important;
  --bg-active-secondary: #121212 !important;
  --bg-active-tertiary: #343434 !important;
  --bg-separator: #222222 !important;
  --bg-border: #121212 !important;
  --bg-scrollbar: #333333 !important;
  --font-color-primary: #CCCCCC !important;
  --font-color-secondary: #DDDDDD !important;
  --font-color-tertiary: #797775 !important;
  --font-color-warning: #A80000 !important;
  --font-color-brand: #007262 !important;
  --font-color-disable: #A19F9D !important;
  --bg-ms-planner: #31752F !important;
  --bg-ms-one-note: #7719AA !important;
  --bg-ms-excel: #107C41 !important;
  --bg-ms-word: #185ABD !important;
  --bg-ms-power-point: #C43E1C !important;
  --bg-ms-teams: #6355A8 !important;
}
