:root {
  --white: rgba(255, 255, 255, 1);
  --light-sepia: rgb(251, 240, 217);
  --sepia: rgb(241, 228, 199);
  --sepia-transparent: rgba(251, 240, 217, 0.8);
  --dark-sepia: rgb(216, 202, 173);
  --dark-grey: rgba(33, 33, 33, 1);
  --dark-grey-transparent: rgba(33, 33, 33, 0.8);
  --grey: #2d2d2d;
  --med-grey: #666666;
  --light-grey: #cccccc;
  --red: #f35863;
  --blue: #4a61fd;
  --skyblue: #3cb9e9;
  --purple: #9900d0;
  --green: #5bd244;
}
#O365ShellHeader {
  display: none !important;
}
html.list-colors body .color-red span,
html.list-colors body .color-red span span,
html.list-colors body .color-red span i,
html.list-colors body .color-red .icon svg {
  color: var(--red) !important;
  fill: var(--red) !important;
}
html.list-colors body .color-blue span,
html.list-colors body .color-blue span span,
html.list-colors body .color-blue span i,
html.list-colors body .color-blue .icon svg {
  color: var(--blue) !important;
  fill: var(--blue) !important;
}
html.list-colors body .color-green span,
html.list-colors body .color-green span span,
html.list-colors body .color-green span i,
html.list-colors body .color-green .icon svg {
  color: var(--green) !important;
  fill: var(--green) !important;
}
html.list-colors body .color-purple span,
html.list-colors body .color-purple span span,
html.list-colors body .color-purple span i,
html.list-colors body .color-purple .icon svg {
  color: var(--purple) !important;
  fill: var(--purple) !important;
}
html.list-colors body .color-skyblue span,
html.list-colors body .color-skyblue span span,
html.list-colors body .color-skyblue span i,
html.list-colors body .color-skyblue .icon svg {
  color: var(--skyblue) !important;
  fill: var(--skyblue) !important;
}
html {
  overflow: hidden;
}
body {
  -webkit-app-region: drag;
}
#O365_MainLink_NavMenu,
#O365_AppName {
  visibility: hidden !important;
}
::-webkit-scrollbar {
  width: 6px !important;
}
::-webkit-scrollbar-track {
  border-radius: 0px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
  background: #767678 !important;
}
#root #container #O365_NavHeader {
  background: transparent;
}
#root #container #O365_NavHeader .searchToolbar {
  background: white;
}

#root #container #O365_NavHeader div {
  background: transparent;
}
#root #container .o365header.is-consumer {
  background: #00000033 !important;
}
#Region_3 {
  display: none;
}
#O365_HeaderRightRegion {
  display: none;
}
#main .addTask * {
  background-color: transparent !important;
}
#main .add-task input,
#baseAddInput-addTask {
  background-color: transparent !important;
}
.keyboardNavigation .listItem:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0) !important;
}
html.side-bar-hidden .leftColumn {
  display: none !important;
}
html.side-bar-hidden #container.leftColumn-overlaid #app {
  padding-left: 0px !important;
}
@media all and (max-width: 620px) {
  .leftColumn,
  #owaToDoButton,
  #todoWhatsNewBtn {
    display: none !important;
  }
  #container.leftColumn-overlaid #app {
    padding-left: 0px !important;
  }
}
.listItem,
.listItem .listItem-icon,
.emoji {
  background-color: transparent !important;
}
.sidebar-footer {
  display: none;
}

.listItem,
.listItem-container.active .emoji.medium {
  background-color: transparent !important;
}

.backgroundLines {
  display: none;
}
