:root {
  --bg-primary: #121212 !important;
  --bg-secondary: #1f1f1f !important;
  --bg-tertiary: #333333 !important;
  --bg-hover: #1f1f1f !important;
  --bg-hover-secondary: #131313 !important;
  --bg-hover-tertiary: #333333 !important;
  --bg-active: #232323 !important;
  --bg-active-secondary: #333 !important;
  --bg-active-tertiary: #343434 !important;
  --bg-separator: #333 !important;
  --bg-border: #222 !important;
  --bg-scrollbar: #fff !important;
  --bg-brand: #007262 !important;
  --bg-brand-hover: #007262 !important;
  --bg-brand-hover-secondary: #004c52 !important;
  --bg-brand-secondary: #ecf6fd !important;
  --bg-brand-disable: #edebe9 !important;
  --font-color-primary: #ccc !important;
  --font-color-secondary: #ddd !important;
  --font-color-tertiary: #797775 !important;
  --font-color-warning: #a80000 !important;
  --font-color-brand: #007262 !important;
  --font-color-disable: #a19f9d !important;
  --bg-ms-planner: #31752f !important;
  --bg-ms-one-note: #7719aa !important;
  --bg-ms-excel: #107c41 !important;
  --bg-ms-word: #185abd !important;
  --bg-ms-power-point: #c43e1c !important;
  --bg-ms-teams: #6355a8 !important;
}
