html.dracula-mode {
  --bg-primary: #282A36 !important;
  --bg-secondary: #333648 !important;
  --bg-tertiary: #303342 !important;
  --bg-hover: #3B3E51 !important;
  --bg-hover-secondary: #474C68 !important;
  --bg-hover-tertiary: #222D6E !important;
  --bg-active: #333855 !important;
  --bg-active-secondary: #3F456B !important;
  --bg-active-tertiary: #2D366C !important;
  --bg-separator: #44475A33 !important;
  --bg-border: #44475A33 !important;
  --bg-scrollbar: #44475A33 !important;
  --font-color-primary: #CCCCCC !important;
  --font-color-secondary: #F8F8F2 !important;
  --font-color-tertiary: #FFFFFF !important;
  --font-color-warning: #FF5555 !important;
  --font-color-brand: #007262 !important;
  --font-color-disable: #A19F9D !important;
  --bg-ms-planner: #50FA7B !important;
  --bg-ms-one-note: #BD93F9 !important;
  --bg-ms-excel: #50FA7B !important;
  --bg-ms-word: #6272A4 !important;
  --bg-ms-power-point: #FF5555 !important;
  --bg-ms-teams: #BD93F9 !important;
  --red: #FF5555;
  --blue: #288BE1;
  --skyblue: #8BE9FD;
  --purple: #BD93F9;
  --green: #50FA7B;
}
